@import "../../helpers/helpers.scss";

.crafting_wrap {
  background-color: var(--color_black);
  background-image: url(../../../../public/img/home/dots_bg.png);
  background-size: cover;
  .crafting_flex {
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    @media only screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
    .left_content {
      width: 48%;
      position: relative;
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
      p {
        opacity: 0.8;
      }
    }

    .right_content {
      width: 47%;
      position: relative;
      top: 26px;
      @media only screen and (max-width: 767px) {
        width: 100%;
      }
      .btn_height{
        min-height: 80px;
        @media (max-width: 767px) {
          min-height: 60px;
        }
      }
    }

    
  }

  .intertainment_border{
    border: 1px solid #777777;
    padding: 10px 10px;
    border-radius: 12px;
    .intertainment_flex {
      justify-content: space-between;
      position: relative;
      @media only screen and (max-width: 767px) {
        flex-wrap: wrap;
      }
      .intertainment_left {
        width: 36%;
        background-color: #100e0e;
        border-radius: 12px;
        padding: 20px 50px;
        position: relative;
        @media (max-width: 1401px) {
          padding: 20px 30px;
        }
        @media only screen and (max-width: 1199px) {
          padding: 20px 20px;
        }
        @media only screen and (max-width: 991px) {
          width: 44%;
        }
        @media only screen and (max-width: 767px) {
          width: 100%;
        }
        .content_box{
          border-bottom: 1px solid rgba(187, 187, 187, 0.18);
          padding: 25px 0px;
          @media (max-width: 1401px) {
            padding: 20px 0px;
          }
          &:last-child{
            border-bottom: none;
          }
          .content_flex{
            justify-content: space-between;
            align-items: center;
            h2{
              width: 45%;
              color: var(--color_secondary);
              @media (max-width: 1401px) {
                width: 40%;
              }
            }
            p{
              width: 50%;
              @media (max-width: 1401px) {
                width: 55%;
              }
            }
          }
        }
      }
  
      .intertainment_right {
        width: 63%;
        @media only screen and (max-width: 991px) {
          width: 55%;
        }
        @media only screen and (max-width: 767px) {
          width: 100%;
          margin-top: 20px;
        }
        .video_box{
          position: relative;
          .video_img{
            @media (max-width: 1199px) {
              height: 66vh;
              object-fit: cover;
              object-position: center;
              width: 100%;
            }
            @media (max-width: 991px) {
              height: 40vh;
            }
            
          }
          .video_play {
            position: absolute;
            left: 30px;
            bottom: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            @media (max-width: 767px) {
              left: 15px;
              bottom: 15px;
            }
            .video_play_txt {
              color: var(--color_white);
              padding-left: 10px;
              p {
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
  
}