@import "../../helpers/helpers.scss";

.crafting_wrap {
  background-color: var(--color_black);
  background-image: url(../../../../public/img/home/dots_bg.png);

  .crafting_flex {
    align-items: center;
    justify-content: space-between;
    position: relative;

    .left_content {
      width: 48%;
      position: relative;

      p {
        opacity: 0.8;
      }
    }

    .right_content {
      width: 47%;
      position: relative;
    }

    .cricle_box {
      position: absolute;
      position: absolute;
      left: 53%;
      top: -50px;
      transform: translateX(-50%);
    }
  }
}