@import "../../helpers/helpers.scss";

.our_clients_wrap {
  .section_title{
    text-align: center;
    p{
      opacity: 0.8;
      width: 71%;
      margin: 0 auto;
    }
  }
  .clients_logo_flex{
    border: 1px solid #B8B8B8;
    padding: 20px 20px;
    border-radius: 12px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    @media only screen and (max-width: 1199px) {
      grid-template-columns: repeat(4,1fr);
    }
    @media only screen and (max-width: 991px) {
      grid-template-columns: repeat(3,1fr);
    }
    @media only screen and (max-width: 767px) {
      grid-template-columns: repeat(2,1fr);
      padding: 20px 10px;
      grid-gap: 10px;
    }
    .clients_logo_box{
      width: 100%;
      height: -webkit-fill-available;
      background-color: var(--color_white);
      padding: 10px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      opacity: 0.5;
      transition: all 1s ease;
      @media only screen and (max-width: 767px) {
        height: 100px;
      }
      &:hover{
        opacity: 1;
        transition: all 1s ease;
      }
    }
  }
}
