@import "../../helpers/helpers.scss";

.showcase_wrap {
	.section_title {
		align-items: center;
		@media only screen and (max-width: 767px) {
			flex-wrap: wrap;
		}
		h2 {
			@media only screen and (max-width: 767px) {
				margin-bottom: 15px;
			}
		}
	}
	.showcase_main {
		margin: 0px -15px;
		@media only screen and (max-width: 1199px) {
			margin: 0px -10px;
		}
		:global(.slick-slide) {
			padding: 0px 15px;
			@media only screen and (max-width: 1199px) {
				padding: 0px 10px;
			}
		}
		.showcase_box {
			.showcase_content {
				.img_box {
					// border: 1px solid #777777;
					// border-top: 1px solid #777777;
					// border-bottom: 1px solid #777777;
					// padding: 10px 10px;
					// border-radius: 12px;
					position: relative;
					transition: all 0.3s;
					:global(.dots_p) {
						background-color: var(--color_primary);
					}
					img{
						width: 100%;
					}
				}
				.desc_box {
					padding: 20px 0px;
					.desc_title {
						h3 {
							@media only screen and (min-width: 1024px) {
								padding-right: 50px;
							}
						}
					}
				}
			}
		}
	}
	.progress_div {
		width: var(--container_width);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 35px 15px 0px 0px;
		width: 100%;
		//width: calc(100% - 215px);
		@media (max-width: 767px) {
			padding: 30px 15px 0px 0px;
			//width: calc(100% - 65px);
		}
		.progress_bar {
			width: 100%;
			height: 2px;
			background-color: #333333;
			overflow: hidden;

			.color_div {
				height: 100%;
				background-color: var(--color_white);
				transition: all 0.3s linear;
			}
		}
	}
}
