@import "../../helpers/helpers.scss";

.valued_distributors_wrap {
	background-color: var(--color_white);
	.section_title {
		text-align: center;
	}
	.valued_distributors_border {
		border: 1px solid #777777;
		padding: 45px 20px;
		border-radius: 12px;
		position: relative;
		.valued_logo {
			:global(.slick-slide) {
				height: inherit !important;
			}
			:global(.slick-track) {
				display: flex !important;
				align-items: center;
			}
			.valued_item {
				display: flex;
				align-items: center;
				justify-content: center;
				transition: all 0.5s;
				img {
					margin: 0 auto;
					filter: grayscale(1);
					@media (max-width: 767px) {
						filter: grayscale(0);
					}
				}
				&:hover {
					img {
						filter: grayscale(0);
					}
				}
			}
		}
	}
}
