@import "../helpers/helpers.scss";

.main_footer {
	background-color: var(--color_black);
	background-image: url(../../../public/img/home/dots_bg.png);
	background-size: cover;

	.bg_footer {
		backdrop-filter: blur(18px);
		background-image: linear-gradient(#0c0c0c, #464646);
		padding: 80px 0px 0px;
	}
	.footerMenuMain {
		.footerMenuFlex {
			@extend %d_flex;
			@extend %flex_wrap;
			justify-content: space-between;
			.footerMenuItem_left {
				width: 20%;
				@media only screen and (max-width: 991px) {
					width: 30%;
				}
				@media only screen and (max-width: 767px) {
					width: 100%;
				}
			}
			.footerMenuItem_center {
				width: 32%;
				@media only screen and (max-width: 1199px) {
					width: 38%;
				}
				@media only screen and (max-width: 991px) {
					width: 60%;
				}
				@media only screen and (max-width: 767px) {
					width: 100%;
					padding-top: 30px;
				}
				.footerMenuInnerFlex {
					@extend %d_flex;
					@extend %flex_wrap;
					justify-content: space-between;
					.footerMenuInnerItem {
						list-style: none;
						padding-left: 20px;
						@media only screen and (max-width: 992px) {
							padding-left: 0px;
							width: 48%;
						}
						&:nth-child(1) {
							padding-left: 0;
						}
						li {
							margin-bottom: 15px;
							color: var(--color_white);
							font-size: 18px;
							font-family: var(--font_secondary);
							@media only screen and (max-width: 1199px) {
								font-size: 16px;
							}
							a{
								opacity: 0.8;
								transition: all 0.6s;
								&:hover{
									opacity: 1;
									transition: all 0.6s;
								}
							}
						}
						.sub_menu_box {
							.sub_menu_flex {
								cursor: pointer;
								a{
									font-weight: 500;
									padding-right: 20px;
									opacity: 0.8;
									transition: all 0.6s;
									&:hover{
										opacity: 1;
										transition: all 0.6s;
									}
								}
								img {
									transition: all 0.2s;
								}
							}
		
							.sub_menu_list {
								display: none;
								transition: all 0.2s;
								// padding: 0px 15px;
								p {
									font-size: 16px;
									padding-top: 15px;
									@media screen and (max-width: 767px) {
										padding-top: 15px;
									}
									a {
										font-size: 16px;
										opacity: 0.8;
										transition: all 0.6s;
										&:hover{
											opacity: 1;
											transition: all 0.6s;
										}
										// @media screen and (max-width: 767px) {
										// 	font-size: 18px;
										// }
									}
								}
							}
							&.drop_down_active {
								.sub_menu_flex {
									.white_down_arrow {
										transform: rotate(180deg);
										transition: all 0.2s;
									}
								}
								.sub_menu_list {
									display: block;
									transition: all 0.2s;
								}
							}
						}
					}
				}
			}
			.footerMenuItem_right {
				width: 35%;
				@media only screen and (max-width: 1199px) {
					width: 30%;
				}
				@media only screen and (max-width: 991px) {
					width: 100%;
					padding-top: 50px;
				}
				@media only screen and (max-width: 767px) {
					padding-top: 30px;
				}
				p {
					color: #f1efe9;
				}
				.input_group {
					position: relative;
					.input_field {
						background-color: transparent;
						border: 1px solid #707070;
						padding: 15px 80px 15px 20px;
						width: 100%;
						border-radius: 30px;
						font-size: 14px;
						color: #fff;
					}
					.btn_arrow {
						position: absolute;
						right: 20px;
						top: 10px;
						@media only screen and (max-width: 1199px) {
							right: 15px;
						}
					}
				}
				.social_media {
					@media only screen and (max-width: 991px) {
						padding-top: 30px;
					}
					h5{
						text-transform: uppercase;
					}
					
					ul {
						padding-left: 0px;
						list-style-type: none;
						display: flex;
						a {
							width: 36px;
							height: 36px;
							border-radius: 50%;
							background-color: var(--color_primary);
							display: flex;
							align-items: center;
							justify-content: center;
							cursor: pointer;
							margin-right: 15px;
							transition: ease-out 0.3s;
							&:hover {
								background-color: var(--color_secondary);
								transition: ease-out 0.3s;
								img {
									filter: invert(1);
									transition: ease-out 0.3s;
								}
							}
							img {
								transition: ease-out 0.3s;
							}
						}
					}
				}
			}
		}
	}
	.footerBtm {
		margin-top: 30px;
		.footerBtmFlex {
			padding: 20px 0px;
			border-top: 1px solid #707070;
			@media only screen and (max-width: 767px) {
				justify-content: center;
			}
			.footerBtmItem {
				p {
					color: #f1efe9;
					@media only screen and (max-width: 767px) {
						padding-bottom: 25px;
					}
				}
			}
		}
	}
}
