@import "../helpers/helpers.scss";
.home_banner_wrap{
  position: relative;
  height: 100vh;
  &::after {
		content: " ";
		left: 0px;
		top: 0px;
		position: absolute;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.30);
	}
  .banner_img{
    img{
      height: 100vh; 
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }
  .banner_content{
    // padding-left: var(--container_left_space);
    position: absolute;
    bottom: 40px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
  }
}