@import "../helpers/helpers.scss";

.spark_immersive_main{
  background-color: var(--color_white);
  margin-top: -20px;
  position: relative;
  border-radius: 25px;
  .optimizing_flex{
    justify-content: space-between;
    flex-wrap: wrap;
    .optimizing_title{
      width: 39%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .optimizing_content{
      width: 59%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}