@import "../helpers/helpers.scss";
.sync_video{
  .video_box{
    position: relative;
    .video_img{
      @media only screen and (max-width: 767px) {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        object-position: center;
      }
    }
    .video_play{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .gallery_plus{
        @media only screen and (max-width: 767px) {
          width: 50px;
        }
      }
    }
  }
}