@import "../helpers/helpers.scss";
.tab_button{
    display: flex;
    p{
        font-size: 25px;
        line-height: 1.3;
        color: var(--color_5);
        background: transparent;
        margin-right: 30px;
        padding: 15px 30px;
        border-radius: 6px;
        border: 1px solid #cfcfcf;
        transition: all .1s ease-in-out;
        
    }
    &:active{
        font-weight: 700;
        background-color: #f8ed11;
        transition: all .1s ease-in-out;
    }
    &.color_white{
        p{
            color: var(--color_white);
        }
    }
    &.color_black{
        p{
            color: var(--color_black);
        }
    }
}
