.btn_project_default {
	font-size: 16px;
	font-weight: 400;
  font-family: var(--font_primary);
	background-image: none;
	border: 1px solid var(--color_primary);
	padding: 12px 50px;
	box-shadow: none;
	text-shadow: none;
	background-color: transparent;
	color: var(--color_black);
	outline: none !important;
	text-decoration: none;
	transition: ease-out 0.3s;
	cursor: pointer;
	@media only screen and (max-width: 992px) {
		padding: 10px 20px;
		font-size: 14px;
	}
  &:hover {
    border-bottom: 8px solid var(--color_primary);
    transform: translateY(-5px);
    transition: ease-out 0.3s;
    &::before{
      content: " ";
      position: absolute;
      bottom: -9px;
      left: -1px;
      background-color: #000;
      -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      width: 8px;
      height: 10px;
      transition: ease-out 0.3s;
    }
    &::after{
      content: " ";
      position: absolute;
      bottom: -9px;
      right: -1px;
      background-color: #000;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      width: 8px;
      height: 10px;
      transition: ease-out 0.3s;
    }
  }
	
}
.btn_two {
	font-size: 18px;
	font-weight: 400;
	background-image: none;
	border-radius: 50px;
	border: 1px solid #8F8F8F;
	padding: 10px 35px;
	box-shadow: none;
	text-shadow: none;
	background-color: transparent;
	color: var(--color_black);
	outline: none !important;
	text-decoration: none;
	transition: ease-out 0.3s;
	cursor: pointer;
  font-family: var(--font_primary);
}

.btn_arrow{
  font-size: 18px;
  font-weight: 400;
  border-radius: 11px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  background-color: var(--color_primary);
  text-decoration: none;
  transition: ease-out 0.3s;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  .arrow_one{
    transform: translateX(0px);
    transition: ease-out 0.3s;
  }
  .arrow_two{
    position: absolute;
    transform: translateX(-30px);
    transition: ease-out 0.3s;
    bottom: 0;
  }
  &:hover{
    .arrow_one{
      transform: translateX(30px);
      margin-top: -26px;
      transition: ease-out 0.3s;
    }
    .arrow_two{
      transform: translateX(0px);
      transition: ease-out 0.3s;
      bottom: 12px;
    }
  }
}
