// .text_xxs {}
// .text_xs {}
// .text_sm {}

//for default body copy font
.text_xxs {
  font-size: 14px;
}
.text_xs {
  font-size: 16px;
}
.text_sm {
  font-size: 18px;
}
.text_reg {
  font-size: 20px;
}
.text_md {
  font-size: 24px;
}
.text_l {
  font-size: 35px;
}
.text_xl {
  font-size: 40px;
}
.text_xxl {
  font-size: 45px;
}
.text_xxxl {
  font-size: 55px;
}
.text_xxxxl {
  font-size: 70px;
}
.text_xxxxxI {
  font-size: 150px;
  line-height: calc(189 / 150);
  font-family: var(--font_primary);
	font-weight: 500;
}

.font_heading {
	font-family: var(--font_primary);
}

.color_white {
	color: #fff !important;
}
.color_black {
	color: #0e0e0e !important;
}

.paraTxt {
	font-size: 20px;
	color: var(--color_black);
	font-weight: 400;
	line-height: calc(34 / 20);
	font-family: var(--font_primary);
	@media only screen and (max-width: 992px) {
		font-size: 18px;
	}
}

.text_24{
  @extend .text_md;
  color: var(--color_black);
	font-family: var(--font_primary);
	line-height: calc(30 / 24);
}

.text_35{
  @extend .text_l;
  color: var(--color_black);
	font-family: var(--font_primary);
	line-height: calc(44 / 35);
  font-weight: 700;
}

.head_txt_40 {
	@extend .text_xl;
	color: var(--color_black);
	font-family: var(--font_primary);
	line-height: calc(51 / 40);
  font-weight: 700;
	@media only screen and (max-width: 992px) {
		font-size: 32px;
	}
	@media only screen and (max-width: 767px) {
		font-size: 34px;
	}
}

.heading_text_45 {
	@extend .text_xxl;
	color: var(--color_black);
	font-family: var(--font_primary);
	line-height: calc(57 / 45);
  font-weight: 500;
	@media only screen and (max-width: 992px) {
		font-size: 32px;
	}
	@media only screen and (max-width: 767px) {
		font-size: 34px;
	}
}

.heading_text_55 {
	@extend .text_xxxl;
	color: var(--color_black);
	font-family: var(--font_primary);
	line-height: calc(68 / 55);
  font-weight: 700;
	@media only screen and (max-width: 992px) {
		font-size: 34px;
	}
	@media only screen and (max-width: 767px) {
		font-size: 40px;
	}
}
.heading_text_70 {
	@extend .text_xxxxl;
	color: var(--color_black);
	font-family: var(--font_primary);
	line-height: calc(68 / 70);
  font-weight: 700;
	@media only screen and (max-width: 992px) {
		font-size: 45px;
	}
	@media only screen and (max-width: 767px) {
		font-size: 40px;
	}
}


// //each loop for creating font weights ->
// //.text_100, .text_200 .....
$sizes: 400, 500, 600, 700, 800, 900; //reg,med,semibold,bold,extrabold,black

@each $size in $sizes {
  .text_#{$size} {
    font-weight: $size;
  }
}
