$browser-prefixes: false !default;
// $placeholder-color-default: #ff6666;

:root {
  //fonts
  --font_primary: "Plus Jakarta Sans";
  --font_secondary: "Roboto", sans-serif;
  //colors
  --color_primary: #FF0000;
  --color_secondary: #F8ED11;
  --color_1E1E1E: #1E1E1E;
	--color_black: #000;
  --color_white: #fff;

  //extras
  --container_width: 100%;
  --transition: ease all 300ms;

  @media (min-width: 768px) and (max-width: 991px) {
    --container_width: 750px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    --container_width: 970px;
  }

    // @media (min-width: 1200px) {
    // 	--container_width: 1170px;
    // }
  
    @media (min-width: 1200px) and (max-width: 1400px) {
      --container_width: 1170px;
    }

    @media (min-width: 1401px) {
      --container_width: 1270px;
    }

  --container_left_space: calc((100% - var(--container_width)) / 2);
}
