.ecommerce_main{
  position: relative;
  .intercard{
    .title_txt{
      text-align: center;
      p{
        width: 85%;
        margin: 0 auto;
        @media only screen and (max-width: 1380px) {
          width: 90%;
          margin: 0 auto;
        }
        @media only screen and (max-width: 1199px) {
          width: 100%;
        }
      }
    }
  }
 
}