.ecommerce_main{
  position: relative;
  .intercard{
    .title_txt{
      text-align: center;
      p{
        width: 85%;
        margin: 0 auto;
        @media only screen and (max-width: 1380px) {
          width: 90%;
          margin: 0 auto;
        }
        @media only screen and (max-width: 1199px) {
          width: 100%;
        }
      }
    }
  }

  .ecommerce_slider_main{
    margin-left: calc(var(--container_left_space) + 15px);
    overflow: hidden;
  }

  .partner_superior_flex{
    margin: 0px -10px;
    
    @media only screen and (max-width: 767px) {
      
    }
    
    :global(.slick-slide){
      padding: 0px 10px;
    }
  }
  .progress_div {
		width: var(--container_width);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 35px 0px 0px 0px;
		width: 100%;
		//width: calc(100% - 215px);
		@media (max-width: 767px) {
			padding: 30px 0px 0px 0px;
			//width: calc(100% - 65px);
		}
		.progress_bar {
			width: 100%;
			height: 2px;
			background-color: rgba(51, 51, 51, 0.25);
			overflow: hidden;

			.color_div {
				height: 100%;
				background-color: var(--color_black);
				transition: all 0.3s linear;
			}
		}
	}

  .how_it_works{
    .section_title{
      text-align: center;
    }
    .how_it_works_flex{
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      // grid-template-columns: repeat(3,1fr);
      // grid-gap: 20px;
      
    }
  }
}