@import "../helpers/helpers.scss";

.BlogPage {
    .red_dot{
        background-color: var(--color_primary);
        width: 8px;
        height: 8px;
        position: absolute;
        display: none;
        @media (max-width: 767px) {
            width: 6px;
            height: 6px;
        }
    
        &.dot_top_right{
            top: 20px;
            right: 25px;
            @media (max-width: 767px) {
                top: 15px;
                right: 15px;
            }
        }
        &.dot_bottom_right{
            bottom: 20px;
            right: 25px;
            @media (max-width: 767px) {
                bottom: 20px;
                right: 15px;
            }
        }
        &.dot_bottom_left{
            bottom: 20px;
            left: 25px;
            @media (max-width: 767px) {
                bottom: 20px;
                left: 15px;
            }
        }
    }
  .blog_info_sec{
    
    .blog_info{
        width: 48%;
        @media (max-width: 767px) {
            width: 100%;
        }
        
        .blog_info_style{
            &:nth-child(1){
                height: 270px;
                position: relative;
                img{
                    position: absolute;
                    height: 270px;
                    width: 100%;
                    object-fit: cover;
                }
            }
            &:nth-child(2){
                padding: 0 15px 20px;
            }
        }
        &:nth-child(1){
            width: 100%;
            padding: 10px 15px;
            @media (max-width: 767px) {
                padding: 10px;
            }
            .red_dot{
                display: block;
            }
            .blog_yellow_box{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                background-color: #F8ED11;
                padding: 25px 20px;
                border-radius: 8px;
                @media (max-width: 767px) {
                    padding: 15px 10px;
                }
            }

            .blog_info_style{
                height: auto;
                width: 48%;
                @media (max-width: 767px) {
                    width: 100%;
                }

                img{
                    position: relative;
                    height: auto;
                    width: auto;
                    object-fit: inherit;
                }

                h6{
                    color: #FF0001;
                }
            }
        }
    }
  }

  
}

.BlogInsideSection{
    .blog_info_sec{
        margin: 0px -15px;
		@media only screen and (max-width: 1199px) {
			margin: 0px -10px;
		}
        :global(.slick-slide) {
			padding: 0px 15px;
			@media only screen and (max-width: 1199px) {
				padding: 0px 10px;
			}
		}
        .blog_info{
            width: 48%;
            @media (max-width: 767px) {
                width: 100%;
            }
            
            .blog_info_style{
                @media (max-width: 1380px) {
                   min-height: 210px; 
                }
                @media (max-width: 991px) {
                   min-height: 230px; 
                }
                @media (max-width: 767px) {
                   min-height: 256px; 
                }
                &:nth-child(1){
                    height: 270px;
                    position: relative;
                    img{
                        position: absolute;
                        height: 270px;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                &:nth-child(2){
                    padding: 0 15px 20px;
                }
            }
        }
    }
    .progress_div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 35px 0px 0px 0px;
		width: 100%;
		display: none;
		@media (max-width: 767px) {
            display: block;
			padding: 30px 0px 0px 0px;
			//width: calc(100% - 65px);
		}
		.progress_bar {
			width: 100%;
			height: 2px;
			background-color: rgba(51, 51, 51, 0.25);
			overflow: hidden;

			.color_div {
				height: 100%;
				background-color: var(--color_black);
				transition: all 0.3s linear;
			}
		}
	}
    ol li{
        color: #cccccc;
    }
}

