@import "../helpers/helpers.scss";
.pinsetters{
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    :global(.border_animation){
        width: 49%;
        @media (max-width: 1199px) {
            width: 48%;
        }
        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}


.spares{
    .slider_section{
        .for_item{
            max-width: 760px;
            margin: auto;
            @media (max-width: 767px) {
                padding-bottom: 0;
            }
        }
        .for_item_full{
            max-width: 100%;
            @media (max-width: 767px) {
                padding-bottom: 0;
            }
        }
        .nav_item{
            @media (max-width: 767px) {
                margin-top: 0px;
            }
            :global(.border_animation){
             
             @media (max-width: 767px) {
                width: 85vw;
            } 
            }
            :global(.slick-slide){
                
                @media (max-width: 767px) {
                    padding: 0px 5px;
                }
            }
            :global(.slick-dots){
                bottom: -50px !important;
                @media (max-width: 767px) {
                    bottom: -30px !important;
                }
            }
        }
    }
}

.lane_oil{
    h2{
        @media only screen and (max-width: 767px) {
            text-align: center; 
        }
    }
}