@import "../helpers/helpers.scss";
.pinsetters{
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.spares{
    .slider_section{
        .for_item{
            .slide_item{}
        }
        .nav_item{
            .slide_item{}
        }
    }
}