@import "../helpers/helpers.scss";

.career_page {
  background-color: var(--color_black);
  background-image: url(../../../public/img/career/dots_strip.png);
  background-size: contain;
  background-repeat: repeat;
}
