@import "../helpers/helpers.scss";

.index_page {
  background-color: var(--color_black);
  background-image: url(../../../public/img/dots_strip.png);
  background-size: contain;
  background-repeat: repeat;
  // .bg_black{
  //   background-color: var(--color_black);
  //   background-image: url(../../../public/img/dots_strip.png);
  //   background-size: contain;
  //   background-repeat: repeat;
  // }
}
