@import "../helpers/helpers.scss";

.index_page {
  .bg_black{
    background-color: var(--color_black);
    background-image: url(../../../public/img/home/dots_bg.png);
    background-size: cover;
  }
}
