@import "../helpers/helpers.scss";

.project_section{
    .tab_section{
        display: flex;
        @media (max-width: 767px) {
            overflow-y: auto;
            margin-right: -15px;
            white-space: nowrap;
        }
    }
    h2{
        @media only screen and (max-width: 767px) {
            text-align: center; 
        }
    }
    .tab_info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px 20px; 
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
        }   
    }
}