// @import "../helpers/helpers.scss";

.GoKartingPage {
    position: relative;

    .banner_bottom_text_sec {
    
        p {
            @media (min-width: 991px) {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
    
    .entertainmentCenter{
        .entertainmentCenterContent{
            @media (min-width: 992px) {
                width: 70%;
            }
        }
        .entertainmentCenterImgBox{
            display: grid;
            grid-template-columns: 60.2% 38%;
            grid-gap: 20px;
            @media (max-width: 767px) {
                grid-template-columns: 100%;
            }

            .entertainmentCenterImgBoxStyle{
                .entertainmentCenterImgBoxStyleRight{
                    &:first-child{
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }

    .sadikartTimingSoftware{
        .partner_superior_flex{
            padding: 0px 40px;
            @media only screen and (max-width: 991px) {
              padding: 0px 0px;
            }
            @media only screen and (max-width: 767px) {
                flex-wrap: wrap;
            }
            .partner_superior_box{
              width: 48%;
              position: relative;
              @media only screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 20px;
              }
              .partner_superior_content{
        
                .desc_box{
                  background-color: rgba(30, 30, 30, 0.50);
                  padding: 40px 40px;
                  border-radius: 8px;
                  backdrop-filter: blur(18px);
                  margin-top: -25px;
                  @media (max-width: 1401px) {
                    padding: 40px 25px;
                  }
                  @media only screen and (max-width: 991px) {
                    padding: 25px 15px;
                  }
                  .desc_title{
                    h3{
                      display: -webkit-box;   
                    -webkit-line-clamp: 2;   
                    -webkit-box-orient: vertical;       
                    overflow: hidden;
                    margin-bottom: 20px;
                    padding-right: 10px;
                    }
                  }
                  p{
                    opacity: 0.8;
                    font-size: 18px;
                    display: -webkit-box;   
                    -webkit-line-clamp: 3;   
                    -webkit-box-orient: vertical;       
                    overflow: hidden; 
                  }
                }
              }
            }
        }

        .luminaries_flex{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 40px;
            padding: 0px 40px;
            @media only screen and (max-width: 767px) {
              grid-template-columns: repeat(1,1fr);
              padding: 0;
            }
            @media only screen and (max-width: 991px) {
                padding: 0;
            }
            .luminaries_box{
              position: relative;
              transition: all .3s;
              
              @media only screen and (max-width: 767px) {
              }
              .luminaries_content{
                transition: 0.3s all;
                position: relative;
                .desc_box{
                  position: absolute;
                  left: 0px;
                  bottom: 0px;
                  width: 100%;
                  height: 80px;
                  background-color: var(--color_secondary);
                  padding: 30px 25px;
                  transition: 0.3s all;
                  border-radius: 8px;
                  overflow: hidden;
                  @media only screen and (max-width: 1199px) {
                    padding: 30px 15px;
                  }
                  @media only screen and (max-width: 991px) {
                    height: 78px;
                  }
                }
              }
              &:hover{
                
                .desc_box{
                  height: 52%;
                  transition: 0.3s all;
                }
              }
              :global(.dots_p){
                background-color: var(--color_primary);
              }
            }
          }

    }

    .hardwareSection{
        .hardwareSectionBox{

            @media only screen and (min-width: 768px) {
                &:nth-child(odd){
                    flex-direction: row-reverse;
                }
            }
            
            .hardwareSectionStyle{
                width: 46%;
                @media only screen and (max-width: 767px) {
                    width: 100%;
                }

                &:first-child{
                    @media only screen and (max-width: 767px) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    
    .safety_barriers_section {

        .our_guiding_values_main{
          margin-left: calc(var(--container_left_space) + 15px);
          @media only screen and (max-width: 767px) {
            margin: 0px;
            padding: 0px 15px;
          }
          .partner_superior_flex{
            @media only screen and (max-width: 767px) {
              margin: 0px -10px;
            }
            .partner_superior_box{
              position: relative;
              transition: all .3s;
              width: 516px !important;
              @media only screen and (max-width: 767px) {
                width: 320px !important;
              }
              .partner_superior_content{
                transition: 0.3s all;
        
                .desc_box{
                  background-color: rgba(30, 30, 30, 0.50);
                  padding: 40px 30px;
                  border-radius: 8px;
                  backdrop-filter: blur(18px);
                  margin-top: -25px;
                  min-height: 266px;
                  @media only screen and (max-width: 991px) {
                    padding: 25px 15px;
                  }
                }
              }
            }
            :global(.slick-slide){
              padding: 0px 10px;
            }
          }
        }
      
        .progress_div {
            width: var(--container_width);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 50px 0px 0px 15px;
            width: 100%;
                @media (max-width: 767px) {
                    padding: 30px 0px 0px 0px;
                }
                .progress_bar {
                    width: 100%;
                    height: 2px;
                    background-color: #333333;
                    overflow: hidden;
      
                    .color_div {
                      height: 100%;
                      background-color: var(--color_white);
                      transition: all 0.3s linear;
                    }
                }
        }
    }
}
