@import "../../helpers/helpers.scss";

.ServicesManagementPage {
 
  .service_sec1{
    .service_flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 991px) {
        flex-direction: column;
        gap: 30px;
      }
      .info_bx{
        width: 50%;
        @media (max-width: 991px) {
          width: 100%;
        }
        :global(.heading_text_55){
            color: var(--color_white);
        }
        .info_para{
          p{
            color: var(--color_white);
          }
        }
      }
      .img_bx{
        width: 42%;
        @media (max-width: 991px) {
          width: 100%;
        }
        img{
        
          @media (max-width: 991px) {
            width: 100%;
          }
        }
      }
    }
  }
}
