.ecommerce_slider_main{
  position: relative;
}

.partner_superior_flex{
  margin-left: calc(var(--container_left_space) + 0px);
  overflow: hidden;
  
  @media only screen and (max-width: 767px) {
    margin-left: calc(var(--container_left_space) + 5px);
  }

  .showcase_box {
    .showcase_content {
      @media only screen and (max-width: 1199px) {
        width: 400px !important;
      }
      @media only screen and (max-width: 991px) {
        width: 320px !important;
      }
      @media only screen and (max-width: 767px) {
        width: 300px !important;
      }
      .img_box {
        // border: 1px solid #777777;
        // border-radius: 12px;
        // padding: 5px 5px;
        position: relative;
        transition: all .3s;
        :global(.dots_p) {
          background-color: var(--color_primary);
        }
        img{
          width: 100%;
        }
      }
      .desc_box {
        padding: 20px 20px 0px;
        @media only screen and (max-width: 767px) {
          padding: 20px 10px 0px;
        }
        .desc_title {
          h3 {
            @media only screen and (min-width: 1024px) {
              padding-right: 50px;
            }
          }
        }
      }
    }
  }
  
  :global(.slick-slide){
    padding: 0px 10px;
  }
}

.popup_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	background: rgba(75, 72, 72, 0.06);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(11.4px);
	-webkit-backdrop-filter: blur(11.4px);
	@media only screen and (max-width: 767px) {
		padding: 0 15px;
	}
	p{
		margin-bottom: 10px;
    span{
      font-size: 16px !important;
      font-family: var(--font_primary) !important;
      color: var(--color_black) !important;
      opacity: 0.9;
    }
	}
	.popup_content {
		background: #fff;
		border-radius: 20px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		overflow-x: hidden;
		width: 1000px;
		// @media only screen and (max-height: 800px) {
		// 	height: 550px;
		// 	overflow-y: scroll;
		// }
		@media only screen and (max-width: 1200px) {
			width: 90%;
		}
		@media only screen and (max-width: 767px) {
			width: 100%;
		}
		.popup_content_inner {
			// padding: 25px;
			padding: 50px 25px 25px;
			position: relative;
			@media only screen and (max-width: 767px) {
				padding: 50px 20px;
				// height: 90vh;
			}
			&::-webkit-scrollbar-thumb {
				background: var(--color_secondary);
			}
			&::-webkit-scrollbar-track {
				background: #fff;
			}
		}

		.popup_header {
			position: absolute;
			right: 20px;
			top: 20px;
			@media only screen and (max-width: 767px) {
				right: 10px;
				top: 10px;
			}
			button {
				background: none;
				border: none;
				cursor: pointer;
				padding: 0;
				background-color: #5e5e5e;
				height: 30px;
				width: 30px;
				border-radius: 50px;
        display: flex;
      align-items: center;
      justify-content: center;
				img {
					width: 15px;
					filter: invert(1);
				}
			}
		}
		.popup_body {
			.popup_flx {
				// align-items: center;
				justify-content: space-between;
				@media (max-width: 992px) {
					align-items: flex-start;
				}
				@media (max-width: 767px) {
					height: 75vh;
				}
				.popup_img_item {
					width: 48%;
					position: relative;
					@media (max-width: 767px) {
						width: 100%;
						margin-bottom: 10px;
					}
					img {
						border-radius: 12px;
						width: 100%;
					}
					.NewRelease {
						position: absolute;
						left: 5px;
						top: 8px;
						font-size: 10px;
						color: #fff;
						font-family: var(--font_primary);
						padding: 4px 9px;
						border-radius: 50px;
						background-color: #ff0001;
					}
				}
				.popup_content_item {
					width: 48%;
					@media (max-width: 767px) {
						width: 100%;
						padding-bottom: 30px;
					}
					// @media (min-width: 1200px) {
					// 	height: 480px;
					// }
					.popHead {
						margin-bottom: 10px;
					}
					.paraTxt {
						line-height: 28px;
						// padding-bottom: 10px;
					}
					.btn_sec {
						.watch_btn {
							color: var(--color_primary);
							border-bottom: 1px solid var(--color_primary);
							font-size: 16px;
							padding-bottom: 5px;
							margin-right: 10px;
							font-weight: 600;
						}
						.ytImg {
							display: inline-block;
							vertical-align: middle;
							padding-left: 2px;
						}
					}
				}
			}
		}
	}
  ul{
    padding-left: 20px;
    li{
      position: relative;
      width: 50%;
      font-size: 16px !important;
      font-family: var(--font_primary) !important;
      color: var(--color_black) !important;
      opacity: 0.9;
      display: inline-block;
      padding-right: 50px;
      &::after{
        content: ' ';
        position: absolute;
        left: -20px;
        top: 7px;
        width: 6px;
        height: 6px;
        background-color: #FF0001;
        border-radius: 50%;
      }
      span{
        font-size: 16px !important;
      font-family: var(--font_primary) !important;
      color: var(--color_black) !important;
      opacity: 0.9;
      }
    }
  }
}
