@import "../../helpers/helpers.scss";

.excellence_entertainment_wrap {
  // background-color: var(--color_black);
  // background-image: url(../../../../public/img/about/dots_bg.png);
  // background-size: cover;
  .section_title{
    text-align: center;
  }

  .excellence_entertainment_flex {
    border: 1px solid #777777;
    border-radius: 12px;
    padding: 10px 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    @media only screen and (max-width: 991px) {
      grid-template-columns: repeat(2,1fr);
    }
    @media only screen and (max-width: 767px) {
      grid-template-columns: repeat(1,1fr);
    }
    
    .excellence_entertainment_box{
      background-color: rgba(30, 30, 30, 0.54);
      padding: 20px 20px;
      border-radius: 12px;
      transition: all 0.3s;
      backdrop-filter: blur(18px);
      @media only screen and (max-width: 991px) {
        flex-wrap: wrap;
      }
      .excellence_entertainment_content{
        width: 32%;
        @media only screen and (max-width: 991px) {
          width: 100%;
        }
        img{
          border-radius: 6px;
          @media only screen and (max-width: 991px) {
            width: 100%;
          }
        } 
      }
    
      .desc_box{
        width: 68%;
        padding-left: 20px;
        @media only screen and (max-width: 991px) {
          width: 100%;
          padding-left: 0px;
          padding-top: 20px;
        }
        .desc_title{
          h3{
            margin-bottom: 25px;
            font-size: 20px;
            @media only screen and (max-width: 1199px) {
              margin-bottom: 15px;
            }
            @media only screen and (max-width: 991px) {
              min-height: 51px;
            }
            @media only screen and (max-width: 991px) {
              min-height: auto;
            }
          }
        }
        p{
          font-size: 16px;
          color: var(--color_black);
          line-height: 24px;
        }
        span{
          img{
            margin-top: 8px;
          }
        }
      }
      &:hover{
        background-color: var(--color_secondary);
        .desc_box{
          .desc_title{
            h3{
              color: var(--color_black) !important;
            }
            }
          p{
            color: var(--color_black) !important;
          }
          span{
            img{
              filter: invert(1);
            }
          }
          }
        }
      }
    
  }
}

