@import "../../helpers/helpers.scss";

.our_vision_wrap {
  background-color: var(--color_white);
  display: flex;
  flex-wrap: nowrap;
  // white-space: nowrap;
  overflow: hidden;
  height: 100vh;
  .our_vision_flex{
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex: none;
    @media only screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
    .our_vision_box{
      width: 50%;
      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      img{
        width: 100%;
      }
      .our_vision_content{
        margin: 0 auto;
        text-align: center;
        padding: 0 100px;
        @media only screen and (max-width: 1380px) {
          // width: 80%;
        }
        @media only screen and (max-width: 767px) {
          padding: 40px 15px; 
          width: 100%;
        }
      }
    }
  }
  
  
}