@import "../../helpers/helpers.scss";

.join_pioneering_wrap {
  
  .pioneering_main{
    position: relative;
    
    .pioneering_content{
      width: 70%;
      margin: 0 auto;
      text-align: center;
      @media only screen and (max-width: 767px) {
        
      }
      h2{
        text-align: center;
      }
      p{
        opacity: 0.8;
      }
    }
  }
  
  
}